{% from 'crash-report-snippet-macro.html' import render_crash_snippet %}

{% macro render_crash_list(crash_list = None, has_more=False) %}
  {% if crash_list %}
    {% for crash_report in crash_list %}
      {{ render_crash_snippet(crash_report) }}
      {% if loop.last and has_more %}
        <nav>
          <ul class="pager">
            <li><a href="/trending?start={{ crash_report.key }}">More</a></li>
          </ul>
        </nav>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
