{% macro render_crash_report(crash_report = None) %}
  {% if crash_report %}
    <div class="well">
      <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">Count {{ crash_report.count }}</span>
            <b>Fingerprint : </b> <code>{{ crash_report.fingerprint }}</code>
        </li>
        {% if crash_report.state %}
          <li class="list-group-item">
            <span class="badge">{{ crash_report.state }}</span>
            <b>State </b>
          </li>
        {% endif %}
        {% if crash_report.argv %}
          <li class="list-group-item">
            <b>Arguments</b>
            {% for arg in crash_report.argv %}
              <span class="label label-default large-text">{{ arg }}</span>
            {% endfor %}
          </li>
        {% endif %}
        {% if crash_report.labels %}
          <li class="list-group-item">
            <b>Labels</b>
            {% for label in crash_report.labels %}
              <span class="label label-primary large-text">{{ label }}</span>
            {% endfor %}
          </li>
        {% endif %}
      </ul>
      <pre class="prettyprint">{{ crash_report.crash }}</pre>
      {% if crash_report.issue %}
        <p class="text-info">
          Github Issue (<a href="{{ crash_report.issue|issue_url }}">{{ crash_report.issue|issue_url }}</a>)
        </p>
      {% endif %}
      <p class="text-info">Last report submitted at {{ crash_report.time|readable_date }}</p>
    </div>
  {% endif %}
{% endmacro %}
